:root {
  /*colors*/
  --black: #1f1f1f;
  --white: #f9f9f9;
  --blue: #4298b3;
  --blackOpacity: #1f1f1fb6;
  --whiteOpacity: #f9f9f9b6;
  --blueOpacity: #4299b3b2;
  /*font-size*/
  --bigFont: 2.4rem;
  --mediunFont: 1.8rem;
  --paraghraFont: 1.6rem;
  --littleFont: 1.4rem;
  /*line-height*/
  --bigFontHeight: 2.8rem;
  --mediunFontHeight: 2.1rem;
  --paraghraFonHeight: 1.9rem;
  --littleFontHeight: 1.6rem;
  /*font-weight*/
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
}
