<section class="nasa-card">
  <figure class="nasa-card-image">
    <img [src]="nasaApodInfo.hdurl" [alt]="nasaApodInfo.title" />
  </figure>

  <article class="nasa-card-image-detail flex-column glass padding">
    <h2>Picture of the Day:</h2>
    <p>{{ nasaApodInfo.date }}</p>
    <p>{{ nasaApodInfo.title }}</p>
    <p>{{ nasaApodInfo.copyright }}</p>
    <a [href]="nasaApodInfo.url" target="blank" class="flex-center">
      <span class="fas fa-cloud-download-alt"></span>
    </a>
  </article>
</section>
