.nasa-search {
  width: 100%;
  height: 80vh;
  gap: 1.2rem;
  margin-bottom: 1rem;
}
::placeholder {
  color: var(--whiteOpacity);
}
.nasa-search-input {
  width: 80%;
  max-width: 400px;
  height: 40px;
  text-align: center;
  color: var(--white);
  font-size: var(--mediunFont);
  font-weight: var(--bold);
}
.nasa-search-button {
  width: 180px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--white);
  font-size: var(--mediunFont);
  font-weight: var(--bold);
  transition: all 0.8s ease;
}
.nasa-search-button:hover {
  background-color: var(--blue);
  cursor: pointer;
}
