.movie-page {
  width: auto;
  height: 25px;
  gap: 0.8rem;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  background-color: var(--white);
  transition: all 0.8s ease;
  color: var(--black);
  font-size: var(--paraghraFont);
  font-weight: var(--bold);
}
.movie-page:hover {
  background-color: var(--blue);
  cursor: pointer;
}
